{% extends "base.html" %}
{% block title %} Регистрация {% endblock %}

{% block content %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

    <!-- Topbar -->


    <!-- End of Topbar -->
<div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Регистрация</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-user btn-block">Отправить</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block ">
            <div class="text-center">
                {% load static %}<img src="{% static 'bootstrap/img/laptop.png' %}" width=80%>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <a class="small" href="{% url 'users:login' %}">Есть аккаунт?</a>
    </div>
    <br>

    {% endblock %}


