
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://engagement-assets.talenttechlab.com/roboto.css" rel="stylesheet" />
    <link href="https://engagement-assets.talenttechlab.com/font-awesome.css" rel="stylesheet" />
    <script>
        window.API_URL='https://engagement-stage.talenttechlab.org/api';
        window.SURVEY_BASE_URL='survey-stage.talenttechlab.org';
    </script>
    <title>Title</title>
<link href="/style-679361139f66e124993d357ed2bd39e4.css" rel="stylesheet"></head>
<body>

<div id="app"></div>

<script type="text/javascript" src="/bundle-4499b9c3ee612737d34c.js"></script></body>
</html>
